---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?q=Photography+What+is+a+film+camera%3F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<Ocp-Apim-Subscription-Key>"
  response:
    status:
      code: 200
      message: ''
    headers: {}
    body:
      encoding: UTF-8
      string: |
        {
            "_type": "SearchResponse",
            "queryContext": {
                "originalQuery": "disabilty in colorado do i need a lawyer",
                "alteredQuery": "disability in colorado do i need a lawyer",
                "alterationOverrideQuery": "+disabilty in colorado do i need a lawyer",
                "adultIntent": false
            },
            "webPages": {
                "webSearchUrl": "https://www.bing.com/search?q=disabilty+in+colorado+do+i+need+a+lawyer",
                "totalEstimatedMatches": 70400000,
                "value": [
                    {
                        "id": "https://api.cognitive.microsoft.com/api/v7/#WebPages.0",
                        "name": "Colorado Social Security Disability Lawyers",
                        "url": "https://www.disability-benefits-help.org/social-security-attorney/colorado",
                        "displayUrl": "https://www.disability-benefits-help.org/social-security-attorney/...",
                        "snippet": "When it comes to being awarded social security disability benefits in the state of Colorado, there are a few things applicants should consider before beginning the application process. On a national scale, SSD benefits are not easy to get. Only 32.1% of initial disability claims are awarded; that percentage is the same for the state of Colorado.",
                        "dateLastCrawled": "2018-12-18T00:48:00"
                    },
                    {
                        "id": "https://api.cognitive.microsoft.com/api/v7/#WebPages.1",
                        "name": "Denver & Colorado Social Security Disability Lawyer",
                        "url": "https://www.sawayalaw.com/social-security-disability-attorney/",
                        "displayUrl": "https://www.sawayalaw.com/social-security-disability-attorney",
                        "snippet": "Our Colorado Social Security Disability attorneys will protect your rights and work hard to help you get the benefits you need. Contact our firm today for sound legal counsel and top-notch representation in your Social Security Disability claim.",
                        "deepLinks": [
                            {
                                "name": "Legal Services",
                                "url": "https://sawayalaw.com/legal-services"
                            },
                            {
                                "name": "Colorado VA Disability Lawyer",
                                "url": "https://www.sawayalaw.com/va-disabilities-lawyer/"
                            }
                        ],
                        "dateLastCrawled": "2018-[...]
[...]
