<nav class="navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Down the Rabbit Hole</a>
      </div>
    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
      <li><%=link_to "My Dashboard", dashboard_path, class: 'btn btn-primary'%></li>
      <li><%=link_to "Logout", logout_path, method: :delete, class: 'btn btn-primary' %></li>
      </ul>
    <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register" class: 'btn btn-primary'><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="/login" class: 'btn btn-primary'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    <%end%>
  </div>
</nav>
