<nav class="navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Down the Rabbit Hole</a>
      </div>
    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
      <li><%=link_to "My Dashboard", user_dashboard_path %></li>
      <li><%=link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      </ul>
    <%end%>
  </div>
</nav>
