<div class="container">
<h2><%= @facade.current_question.title %></h2>

<div class="bing_results">
  <h3>Bing results: </h3>
    <% @facade.bing_search(@facade.current_question).each do |link| %>
      <div class="search_results">
        <%= link_to "#{link.title}", link.url %> <br>
      </div>
    <%end%>
</div>
