<div class="container">
<h2><%= @facade.current_question.title %></h2>
<div class="bing_results">
  <h3>Bing results: </h3>
  <ul>
    <% @facade.bing_search(@facade.current_question).each do |link| %>
    <li class="search_results"><%= link.name %>, <%= link.url %>
    </li>
    <%end%>
  </ul>
</div>
</div>
