
<h3>Notes</h3>
<%= simple_form_for @facade.current_question, url: user_topic_question_path(@facade.topic, @facade.current_question) do |f| %>
  <div class="question_note_area">
    <% if !@facade.current_question.notes_text %>
      <%= text_area_tag(:notes_text, "Write notes here!", size: "120x6") %>
    <% else %>
      <%= text_area_tag(:notes_text, "#{@facade.current_question.notes_text}", size: "120x6") %>
    <% end %>
  </div>
  <div class="question_note_save">
    <%= f.submit "Save Note", class: 'btn btn-secondary' %>
  </div>
<% end %>
