<div class="container">
<%= form_for [@facade.user, @facade.topic], url: user_topic_path(@facade.topic), method: :patch do |f|  %>
  <div class="topic_note_area">
    <% if !@facade.topic.topic_notes %>
      <%= text_area_tag(:topic_notes, "Write topic notes here!", size: "120x6") %>
    <% else %>
      <%= text_area_tag(:topic_notes, "#{@facade.topic.topic_notes}", size: "120x6") %>
    <% end %>
  </div>
  <div class="topic_note_save">
    <%= f.submit "Save Note", class: 'btn btn-secondary' %>
  </div>
<% end %>
</div>
