<%= @facade.user.first_name %> <%= @facade.user.last_name %>

<div class="complete_topics">
  <% @facade.complete_topics.each do |topic| %>
    <%= link_to topic.title, topic_path(topic) %>
  <% end %>
</div>

<div class="in_progress_topics">
  <% @facade.in_progress_topics.each do |topic| %>
    <%= link_to topic.title, topic_path(topic) %>
  <% end %>
</div>
