<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Rabbit Hole</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/application.css" title="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="item item1">
        <p> Rabbit Hole </p>
      </div>
      <div class="item login">       
         <p> Login </p>
      </div>
      <div class="item signup"> 
        <p> Sign Up </p>
      </div>
     
      <div class="item item6"></div>

      <div class="item item8">8</div>
      <div class="item item9">9</div>
      <div class="item item10">10</div>
      <div class="footer">          
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      </div>
    </div>
  </body>
</html>


<button type="button">Login</button>
<button type="button">Register</button>
<button type="button">Register With Google</button>

“The future is uncertain and you will never know less than you know right now.”
― Sandi Metz
