<button type="button">Login</button>
<button type="button">Register</button>
<button type="button">Register With Google</button>

“The future is uncertain and you will never know less than you know right now.”
― Sandi Metz
