<section class="welcome-text">
<h1> Welcome Down the Rabbit Hole</h1>
<h3>"...where you never know less than you do right now."</h3>
<p> Inspired by Sandi Metz </p>
<% if current_user == nil %>
<br />
<br />
<br />
<h4>This application is a tool to help you organize your research. Start by making a account, or logging in if you've registered before!<br /></h4>
<% end %>
</section>
