<<<<<<< HEAD

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Melvin</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<section class="nav-bar">
		<div class="buttons">
			<button><%= link_to "Login", login_path%></button>
			<button><%= link_to "Sign Up", register_path%></button>
	
    
		</div>
		
	</section>
	<div class="spacer"></div>
		<section class="main-section">
			<input type="text" name="input">
			<pre> 











































			</pre>
		</section>
		<section class="footer">
			
		</section>
	

</body>
</html>

=======
<h1> Welcome! </h1>
<p> <%= link_to "Login", login_path%><br>
<h3> or </h3>
<%= link_to "Register", register_path%>
</p>
>>>>>>> c5a0ee5ed68ea432259910e489a3dc79aa93cc60
