<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Melvin</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <section class="nav-bar">

        <div class="buttons">
            <%= link_to "Sign In", login_path %>
            <%= link_to "Sign Up", register_path %>
            <%= link_to "Sign Out", logout_path, method: :delete %>
        </div>

    </section>
    <div class="spacer"></div>
        <section class="main-section">
            <input type="text" name="input">
            <pre>



























































            </pre>
        </section>
        <section class="footer">

        </section>

</body>
</html>
