<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Add a link to the current question</h4>
</div>
<div class="modal-body">
  <div id="new_link_form">
  <%= simple_form_for @link, url: user_topic_question_links_path(@topic, @question) do |f| %>
    <%=f.input_field :name %>
    <%=f.input_field :url %>
    <%= f.button :button, "Create link", class: "btn btn-primary"%>
  <% end %>
    </div>
</div>
