/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
}

.item1 {
  background: rgb(26, 26, 26);
  grid-column: span 6;
  width: 1182px;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #89AFF9;
}

.login{
  grid-column: span 1;
  width: 154px;
  height: 55px;
  left: 857px;
  top: 0px;
  background: #C8ECF7;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.signup{
  background: darkblue;
  grid-column: span 1;
  width: 154px;
  height: 55px;
  left: 1028px;
  top: 0px;
  background: #C8ECF7;
  border: 1px solid #000000;
  box-sizing: border-box;
}   

.item3:hover {
  cursor: pointer; 
  opacity: .5;
}

.item4:hover {
  cursor: pointer; 
  opacity: .5;
}

.item5:hover {
  cursor: pointer; 
  opacity: .5;
}

.item2:hover {
  cursor: pointer; 
  opacity: .5;
}

.item2,
.item3,
.item4,
.item5{

  display: flex; 
  align-items: center;
  justify-content: center;
}
.item4{
  background: darkblue;
  grid-column: span 2;
  color: white;
  text-align: center;
}
.item5{
  background: darkblue;
  grid-column: span 3;
  color: white;
  text-align: center;
}
.item6{
  grid-column: span 8;
  height: 480px;
  background-size: cover;
  background-image: url("../images/dam.png");
}
.item7{
  background: rgb(26, 26, 26);
  grid-column: span 8;
  height: 180px;
  color: whitesmoke;
  text-align: center;
}
.item8{
  grid-column: span 3;
  height: 300px;
  background-image: url("../images/2.jpg");
  background-size: cover;
}
.item9{
  grid-column: span 2;
  height: 300px;
  background-image: url("../images/5.jpg");
  background-size: cover;
}
.item10{
  grid-column: span 3;
  height: 300px;
  background-image: url("../images/6.jpg");
  background-size: cover;
}
.footer {
  background: rgb(26, 26, 26);
  grid-column: span 8;
  position: absolute;
  width: 1182px;
  height: 55px;
  left: 0px;
  top: 506px;
  background: #89AFF9;
}


 .search_bar {

  position: absolute;
  width: 865px;
  height: 50px;
  left: 146px;
  top: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

.top_nav_bar {

  position: absolute;
  width: 1182px;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #89AFF9;
}

.login_button {
  position: absolute;
  width: 154px;
  height: 55px;
  left: 857px;
  top: 0px;
  background: #C8ECF7;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.sign_up_button {
  width: 154px;
  height: 55px;
  left: 1028px;
  top: 0px;
  background: #C8ECF7;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.buttom_nav_bar {
  position: absolute;
  width: 1182px;
  height: 55px;
  left: 0px;
  top: 506px;
  background: #89AFF9;
}

.background {
  position: relative;
  width: 1182px;
  height: 561px;
  background: #E7FFFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
