body {
  h1 {
    font-family: 'Staatliches', cursive;
  }
  h2 {
    font-family: 'Staatliches', cursive;
  }
  h3 {
    font-family: 'Staatliches', cursive;
  }
  font-family: Ubuntu, sans-serif;
  font-size:1.5em;
  color:#404040;
  margin:0;
  padding:0;
  background-color: #efefef;
  background-size: contain;
  text-align:center;
}
